<!-- Preloader -->

<app-header></app-header>
<app-side-bar></app-side-bar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Update Resstaurant</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink>Home</a></li>
            <li class="breadcrumb-item active">Update Resstaurant</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary">
        <!-- form start -->
        <form action="post" [formGroup]="form" class="signin-form" (submit)="submit()">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-4 order-1 order-md-1">
                <h3 class="text-primary d-inline-flex">
                  <i class="fa fa-cutlery"></i>
                  <div style="text-align: end">
                    <input style="width: calc(100% - 30px)" formControlName="name" [ngModel]="res.name" type="text" />
                  </div>
                </h3>
                <div class="text-muted">
                  <div class="d-inline-flex">
                    <div class="c-text">
                      <p class="text-sm">Location :</p>
                    </div>
                    <div class="c-input">
                      <input type="text" [ngModel]="res.location" formControlName="location" />
                    </div>
                  </div>

                  <div class="d-inline-flex">
                    <div class="c-text">
                      <p class="text-sm">Type :</p>
                    </div>
                    <div class="c-input">
                      <input type="text" [ngModel]="res.type" formControlName="type"/>
                    </div>
                  </div>
                  <div class="d-inline-flex">
                    <div class="c-text">
                      <p class="text-sm">Distance :</p>
                    </div>
                    <div class="c-input">
                      <input type="email" [ngModel]="res.distance" formControlName="distance"/>
                    </div>
                  </div>

                  <div class="d-inline-flex">
                    <div class="c-text">
                      <p class="text-sm">Times :</p>
                    </div>
                    <div class="c-input">
                      <input type="number" [ngModel]="res.times" formControlName="time"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5 class="mt-4 text-muted">Tags :</h5>
                    <div style="overflow-y: auto; height: 150px">
                      <ul class="list-unstyled" *ngFor="let tag of res.tags">
                        <li style="display: flex">
                          <input type="checkbox" (change)="checkTag($event,tag)" /><b href class="d-block">{{tag}}</b>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 " >
                    <h5 class="mt-4 text-muted">Categories :</h5>
                        <div style="overflow-y: auto;">
                        <ul class="list-unstyled"  *ngFor="let category of res.categories">
                            <li style="display: flex">
                                <input type="checkbox" (change)="checkTag($event,category)" /><b href class="d-block">{{ category }}</b>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-8 order-2 order-md-2">
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                      <div class="info-box-content imgNews">
                        <span class="info-box-text text-center text-muted">LOGO</span>
                        <label for="image" style="width: 100%; text-align: center">
                          <img alt="" style="
                              width: 238.6px;
                              height: 247.4px;
                              object-fit: cover;
                            "
                            src="{{ imagesApiUrl }}/logo/{{ res.images.logo }}.png" />
                        </label>
                        <input type="file" (change)="onFileSelected($event)" name="image" id="image" hidden />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                      <div class="info-box-content imgNews1">
                        <span class="info-box-text text-center text-muted">POSTER</span>
                        <label for="image1" style="width: 100%; text-align: center">
                          <img alt="" style="
                              width: 256px;
                              height: 144px;
                              object-fit: cover;
                            "
                            src="{{ imagesApiUrl }}/poster/{{ res.images.poster }}.png" />
                        </label>
                        <input type="file" (change)="onFileSelected1($event)" name="image1" id="image1" hidden />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                      <div class="info-box-content imgNews2">
                        <span class="info-box-text text-center text-muted">COVER</span>
                        <label for="image2" style="width: 100%; text-align: center">
                          <img alt="" style="
                              width: 238.6px;
                              height: 247.4px;
                              object-fit: cover;
                            "
                           src="{{ imagesApiUrl }}/gallery/square/{{ res.images.cover }}.png"/>
                        </label>
                        <input type="file" (change)="onFileSelected2($event)" name="image2" id="image2" hidden />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="float-right mt-3 mb-3">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>
<!-- ./wrapper -->