<div class="restaurantBackgroup" style="background-image:   linear-gradient(to top, rgb(44, 41, 47),rgba(3 2 3/ 73%)), url(assets/login/images/restaurant.jpg);">
  
    <div class="list_restaurant" id="list_restaurant">
     
        <div *ngFor="let item of restaurants"  class="restaurant {{item.name}}" (click)="activeRestaurant(item.name, item.id, item.images.logo,item.username)">
            <div class="Img"  >
                <img src="{{imagesApiUrl}}/logo/{{item.images.logo}}.png" class="restaurant_img" alt="">
            </div>
            <div class="text_restaurant">
                <p class="mb-0">{{item.name}} </p>
                <p class="mb-0">{{item.location}}</p>
            </div>
        </div>
        
        <div  class="restaurant" style="    border: 5px solid green;
        border-radius: 212px;
            justify-content: center;
            display: flex;
            align-items: center;
            height: 155px;">
           <a routerLink="/create-new-restaurant">
            <div class="text_restaurant">
              
                <p class="mb-0"><i class="fas fa-plus" style="color: rgb(6, 209, 97); font-size: 100px;"></i></p>
            </div>
           </a>
           
        </div>
    </div>
    <div class="button" (click)="choose()">
        <button style="--clr:#39FF14" ><span>Open the door</span><i></i></button>
    </div>
</div>
