<!-- Preloader -->

<app-header></app-header>
<app-side-bar></app-side-bar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Foods</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/list-foods">Foods</a></li>
                        <li class="breadcrumb-item active">List Foods</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                   <div class="card-header">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-6 col-md-6 col-sm-5 flex-inline d-flex">
                            <input type="search" class="form-control w-50" placeholder="Search..." name="search" id="search">
                            <button type="button" class="button w-25 form-control bg-gradient-primary">Search</button>
                        </div>
                        <div class="col-lg-2 col-3 col-sm-2">
                            <a  [routerLink]="['/create-food']"  class="btn form-control bg-primary">Add</a>
                        </div>
                    </div>         
                   </div>
                    
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Name</th>
                                    <th>price</th>
                                    <th>image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody >                               
                                <tr *ngFor="let f of foods">
                                    <td>1</td>
                                    <td>{{f.name}}</td>
                                    <td>{{f.price}}</td>
                                    <td>{{f.image}}</td>
                                    <td>
                                        <button type="button" class="btn btn-block bg-gradient-primary btn-sm">Detail</button>
                                        <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<!-- /.content-wrapper -->
<app-footer></app-footer>
<!-- ./wrapper -->